<div class="app-page">
  <div class="app-page__header">
    <h1>Bienvenido a nuestro portal</h1>
  </div>
  <div class="app-page__content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, eligendi illum rerum reprehenderit sint cupiditate cumque doloremque sunt nihil. Maiores eum dolorem voluptas, amet commodi iure error expedita atque recusandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod unde, placeat magni dolorem consequuntur velit inventore. Aliquid laboriosam sapiente necessitatibus accusantium distinctio rem nihil fugit cupiditate, cum quia. Aliquam, vitae.</p>
  </div>
</div>
